<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <script type="text/javascript" src="__PUBLIC__/admin/js/action.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__PUBLIC__/admin/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/lib/respond.min.js"></script>

    <![endif]-->

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/style.css" />
    <link href="__PUBLIC__/admin/css/main.css" rel="stylesheet" type="text/css" />

    <!--[if IE 6]>
    <script type="text/javascript" src="__PUBLIC__/admin/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <style type="text/css">
        .Hui-article-box {
            position: absolute;
            top: 10px;
            right: 0;
            bottom: 0;
            left: 199px;
            overflow: hidden;
            z-index: 1;
            background-color: #fff;
        }

        .cell{
            display:inline-block;
            width: 250px;
            height:200px;
            border: #ccc 1px solid;
            border-radius: 5px; 
            -moz-border-radius: 5px; 
            -webkit-border-radius: 5px; 
            text-align: center;
            margin-left: 30px;
            margin-top:20px;
        }

        .data-name{
            font-size: 1.2em;
            color:#666;
            font-weight: bold;
            display: block;
            margin: 20px auto;
        }

        .cell input {
            display: block;
            height:35px;
            width:180px;
            border:#ccc 1px solid;
            margin: 20px auto;
            padding:0 10px;
        }

        .cell .edit-btn {
            width:200px;
            border:0;
        }
    </style>
    <title>丁妈后台管理系统</title>
</head>
<body>
<header class="navbar-wrapper">
    <div class="navbar navbar-fixed-top">
        <div class="container-fluid cl"> <a class="logo navbar-logo f-l mr-10 hidden-xs" href="#">丁妈后台管理系统</a> <a class="logo navbar-logo-m f-l mr-10 visible-xs" href="">H-ui</a>


            <nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
                <ul class="cl">
                    <li><?php echo $_SESSION['admininfo']['name']; ?></li>
                    <li><a href="{:U('Login/logout')}">退出</a></li>


                </ul> 
            </nav>
        </div>
    </div>
</header>

<aside class="Hui-aside">
        <div class="menu_dropdown bk_2">
                <dl id="general">
                    <dt><a href="{:U('index/index')}" ><i class="Hui-iconfont">&#xe616;</i> 系统概览</a></dt>
                </dl>
        
                <dl id="general">
                        <dt><a href="{:U('test/index')}" ><i class="Hui-iconfont">&#xe616;</i> 检测管理</a></dt>
                </dl>
        
                <dl id="general">
                    <dt><a href="{:U('order/index')}" ><i class="Hui-iconfont">&#xe616;</i> 用户预约查询</a></dt>
                </dl>
        
                <dl id="general">
                    <dt><a href="{:U('logistical/index')}" ><i class="Hui-iconfont">&#xe616;</i> 物流管理</a></dt>
                </dl>
            
                <dl id="general">
                    <dt><a href="{:U('result/index')}" ><i class="Hui-iconfont">&#xe616;</i> 检测报告结果</a></dt>
                </dl>
        
                <dl id="general">
                    <dt><a href="{:U('friend/index')}" ><i class="Hui-iconfont">&#xe616;</i> 好友助力统计</a></dt>
                </dl>
                
                

                <dl id="general">
                        <dt><a href="{:U('notice/index')}" ><i class="Hui-iconfont">&#xe616;</i> 消息推送</a></dt>
                    </dl>
                
        </div>
    
</aside>


<section class="Hui-article-box">

    <div id="iframe_box" class="Hui-article">
        <div class="show_iframe">
                <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 系统概览  <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
                <div class="page-container">
                    <div class="cell">
                        <form id="the-machine" class="form form-horizontal" action="{:U('doEdit')}" method="post" onsubmit="return ac_from(machine);" enctype="multipart/form-data">
                            <div class="data-name">机器数</div>
                            <div class="data-detail">
                                <input type="text" name = "machine" id = "machine" value = "{$machine}">
                                <input class="btn btn-primary radius edit-btn" type="submit" name="submit" value="&nbsp;修&nbsp;&nbsp;改&nbsp;">
                            </div>
                        </form>
                    </div>

                    <div class="cell">
                            <form id="the-cost" class="form form-horizontal" action="{:U('doEdit')}" method="post" onsubmit="return ac_from(cost);" enctype="multipart/form-data">
                                <div class="data-name">活动成本</div>
                                <div class="data-detail">
                                    <input type="text" name = "cost" id = "cost" value = "{$cost}">
                                    <input class="btn btn-primary radius edit-btn" type="submit" name="submit" value="&nbsp;修&nbsp;&nbsp;改&nbsp;">
                                </div>
                            </form>
                    </div>

                    <div class="cell">
                            <form id="the-family" class="form form-horizontal" action="{:U('doEdit')}" method="post" onsubmit="return ac_from(family);" enctype="multipart/form-data">
                                <div class="data-name">已检测家庭</div>
                                <div class="data-detail">
                                    <input type="text" name = "family" id = "family" value = "{$family}">
                                    <input class="btn btn-primary radius edit-btn" type="submit" name="submit" value="&nbsp;修&nbsp;&nbsp;改&nbsp;">
                                </div>
                            </form>
                    </div>

                    
                </div>
        </div>
    </div>
</section>


<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.contextmenu/jquery.contextmenu.r2.js"></script>
<script type="text/javascript">
    function product_option(page){
        let url='?page='+page;
        location=url;
    }

    function ac_from(id){
        var num=$(id).val();
        if (!(/(^[1-9]\d*$)/.test(num))) { 
            alert('请输入正整数');
            return false;
        }else{
            return true;
        }
    }

    $("#the-machine,#the-cost,#the-family").ajaxForm(function(data){    
            if(data == true){  
                alert("修改成功");  
            }else{
                alert("修改失败");
            }  
        });       
</script>

</body>
</html>