<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <script type="text/javascript" src="__PUBLIC__/admin/js/action.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__PUBLIC__/admin/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/lib/respond.min.js"></script>

    <![endif]-->

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/static/h-ui.admin/css/style.css" />
    <link href="__PUBLIC__/admin/css/main.css" rel="stylesheet" type="text/css" />

    <!--[if IE 6]>
    <script type="text/javascript" src="__PUBLIC__/admin/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <script type="text/css">
        .Hui-article-box {
            position: absolute;
            top: 10px;
            right: 0;
            bottom: 0;
            left: 199px;
            overflow: hidden;
            z-index: 1;
            background-color: #fff;
        }

    </script>
    <title>丁妈后台管理系统</title>
</head>
<body>
<header class="navbar-wrapper">
    <div class="navbar navbar-fixed-top">
        <div class="container-fluid cl"> <a class="logo navbar-logo f-l mr-10 hidden-xs" href="#">丁妈后台管理系统</a> <a class="logo navbar-logo-m f-l mr-10 visible-xs" href="">H-ui</a>


            <nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
                <ul class="cl">
                    <li><?php echo $_SESSION['admininfo']['name']; ?></li>
                    <li><a href="{:U('Login/logout')}">退出</a></li>


                </ul>
            </nav>
        </div>
    </div>
</header>

<aside class="Hui-aside">
        <div class="menu_dropdown bk_2">
                <dl id="general">
                    <dt><a href="{:U('index/index')}" ><i class="Hui-iconfont">&#xe616;</i> 系统概览</a></dt>
                </dl>
        
                <dl id="general">
                        <dt><a href="{:U('test/index')}" ><i class="Hui-iconfont">&#xe616;</i> 检测管理</a></dt>
                </dl>
        
                <dl id="general">
                    <dt><a href="{:U('order/index')}" ><i class="Hui-iconfont">&#xe616;</i> 用户预约查询</a></dt>
                </dl>
        
                <dl id="general">
                    <dt><a href="{:U('logistical/index')}" ><i class="Hui-iconfont">&#xe616;</i> 物流管理</a></dt>
                </dl>
            
                <dl id="general">
                    <dt><a href="{:U('result/index')}" ><i class="Hui-iconfont">&#xe616;</i> 检测报告结果</a></dt>
                </dl>
        
                <dl id="general">
                    <dt><a href="{:U('friend/index')}" ><i class="Hui-iconfont">&#xe616;</i> 好友助力统计</a></dt>
                </dl>
                
         

                <dl id="general">
                        <dt><a href="{:U('notice/index')}" ><i class="Hui-iconfont">&#xe616;</i> 消息推送</a></dt>
                    </dl>
                
        </div>
    
</aside>


<section class="Hui-article-box">

    <div id="iframe_box" class="Hui-article">
        <div class="show_iframe">
                <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 检测管理  <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
                <div class="page-container">
                    <div class="aaa_pts_show_1">【 检测管理 】<!-- <button class="btn btn-primary radius"  style="margin-left:30px;" onclick="hrefToNew()" >新增检测</button>--></div>
                    <p style="margin-left: 14px;color:#888;margin-bottom:-15px;">说明：助力人数填写对应的数字，即可启用该类型的预约</p>
                    <div class="aaa_pts_show_2"> 
                          <table class="pro_3">
                             <tr class="tr_1">
                               <td style="width:40px;">ID</td>
                               <td style="width:120px;">检测名</td>
                               <td style="width:12px;">视频地址</td>
                               <td style="width:120px;">封面地址</td>
                               <td style="width:120px;">详情图片地址</td> 
                               <td style="width:120px;">团队预约助力数</td>     
                               <td style="width:120px;">个人预约助力数</td>    
                               <td style="width:120px;">检测状态</td>
                               <td style="width:180px;">操作</td>
                             </tr>
                             <tbody id="news_option">
                             <!-- 遍历 -->
                            <if condition="($empty eq 1)"> 
                                <tr>
                                    <td colspan='9'>没有数据</td>
                                </tr>
                            </if>
                            <volist name="tests" id="v">
                               <tr data-id="{$v.id}" data-name="{$v.name}">
                                   <td>{$v["id"]}</td>
                                   <td>{$v.name}</td>
                                   <td><embed src="{$v.video_url}" height="200" style="display:block;margin-bottom:20px;"></embed></td>
                                   <td><img src="{$v.cover_img_url}" style="width:120px;"/></td>
                                   <td><img src="{$v.detail_img_url}" style="width:120px;"/></td>
                                   <td>{$v.group_count}</td>
                                   <td>{$v.person_count}</td>
                                   <td><if condition="($v.status eq 1)"> 
                                            活动中
                                        </if>
                                        <if condition="($v.status eq 0)"> 
                                            已停止
                                        </if></td>
                                   <td><a onclick="edit_id_urls({$v.id})">编辑</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                       <a onclick="stop_id({$v.id})">
                                          <if condition="($v.status eq 1)"> 
                                              停用
                                          </if>
                                          <if condition="($v.status eq 0)"> 
                                              启用
                                          </if>
                                       </a></td>
                                </tr>
                             </volist>
                        
                             <!-- 遍历 -->
                             </tbody>
                             <if condition="($empty eq 0)"> 
                             <tr>
                                    <td colspan="9" class="td_2">
                                        {$page_index} 
                                    </td>
                                </tr>
                                </if>
                          </table>
                        
                    </div>
                </div>
        </div>
    </div>
</section>


<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/admin/lib/jquery.contextmenu/jquery.contextmenu.r2.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        
       
    });
    function product_option(page){
        let url='?page='+page;
        location=url;
    }

    function stop_id (itemID) {

        if(itemID){
            console.log($(".pro_3 tr[data-id='"+itemID+"'] td:nth-child(7)").html().replace(/\s+/g,"") );
            var flag = ( $(".pro_3 tr[data-id='"+itemID+"'] td:nth-child(7)").html().replace(/\s+/g,"") == '活动中')?'停用':'启用';
            // var flag = ($("#".itemID).html() == '启用')?'停用':'启用';
            if (confirm('您确定要'+ flag + '吗？')) {
            $.post("{:U('doStop')}",{itemID:itemID,status:flag},function(result){
                console.log(result);
                if(result){
                    if(flag == '启用') {
                        $(".pro_3 tr[data-id='"+itemID+"']  td:nth-child(6)").html("活动中");
                        $(".pro_3 tr[data-id='"+itemID+"']   td:nth-child(7) a:nth-child(2)").html("停用");
                    }
                    if(flag == '停用') {
                        $(".pro_3 tr[data-id='"+itemID+"']  td:nth-child(6)").html("已停止");
                        $(".pro_3 tr[data-id='"+itemID+"']  td:nth-child(7) a:nth-child(2)").html("启用");
                    }
                }else{
                    alert("操作失败");
                }
            });
        };
        }
    }

    function edit_id_urls (itemID) {
        if(itemID){
            var url = "edit?test_id=" + itemID;
            location.href = url;
        }
    }

    function hrefToNew (itemID) {
        window.location.href="{:U('add')}";
    }
</script>

</body>
</html>